body {
    background-color: #EBEBE8;
    font-family: Segoe UI;
    margin: 40px 0px 0px 0px;
    align-self: center;
}

h1 {
    color: #232426;
    font-size: 250%;
    text-align: center;
}

.page {
    display: flex;
    justify-content: space-around;
}

.blockLeft {
    width: 25%;
    background-image: url(succulentBlocks.png);
    background-repeat: no-repeat;
    border-radius: 7px;
}

.blockRight {
    width: 25%;
    background-image: url(succulentBlocks.png);
    background-repeat: no-repeat;
    border-radius: 7px;
}

.cal {
    flex-direction: column;
    background-color: #232426;
    padding: 50px;
    color: #EBEBE8;
    justify-content: space-around;
    width: 660px;
    justify-self: center;
    margin: 0px;
    border-radius: 7px;
}

.outputTextBox {
    width: 100%;
    height: 15vh;
    background-color: #A3A64B;
    border-radius: 7px;
    font-size: 150%;
}

.buttcd {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0px 10%;
}

#cd {
    padding: 15px 25px;
    color: #000;
    background-color: #D6D98B;
    border-radius: 7px;
    cursor: pointer;
}

.butt {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.butts {
    padding: 30px;
    font-size: 200%;
    background-color: #555936;
    margin: 20px;
    text-align: center;
    border-radius: 7px;
    cursor: pointer;
    
}

button {
    border-color: -internal-light-dark(rgb(255, 255, 255), rgb(133, 133, 133));
}

a {
    width: 20%;
}